body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(../assets/bg/Background.jpg), url(../assets/bg/bg-1.jpg);
    ;
    background-repeat: no-repeat;
    background-position: top right, top;
    background-position-x: right, 15vh;
    background-position-y: top, 13vh;
    background-size: 53% 38rem, 83%;
    z-index: 12;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jost", sans-serif;
}

a {
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 15px;
}
